@page "/blazor"
@inherits AutoScrollComponentBase

<div class="home-banner">
    <MCarousel @bind-Value="_carouselValue" Style="position: relative"
               ShowArrows="false" HideDelimiters
               Cycle Continuous Height="@("100%")">
        <MCarouselItem>
            <MRow NoGutters Style="height: 100%">
                <MCol Cols="12" Lg="6" Class="intro-wrapper">
                    <div class="intro">
                        <div class="intro-title">企业级多端组件库</div>
                        <div class="intro-subtitle">基于Material Design , MAUI的最佳拍档</div>
                        <div class="intro-actions d-flex align-center">
                            <MButton Class="gradual-btn" Text Ripple="false" Href="https://blazor.masastack.com/getting-started/installation">开始使用</MButton>
                            <MButton Text Ripple="false" Class="text-capitalize" Href="https://github.com/BlazorComponent/MASA.Blazor">
                                <MIcon Class="mr-2">mdi-github</MIcon>
                                Github
                            </MButton>
                            @if (!IsMobile)
                            {
                                <MButton Href="https://blazor-pro.masastack.com" Text Ripple="false" Style="text-decoration:underline;border-width: 0;height:36px;font-size:22px;line-height:36px; padding:0px 0px; height:auto;">
                                    即刻体验PRO
                                </MButton>
                                <MIcon  Class="ml-n8" Style="color:#1B2559">fas fa-caret-right</MIcon>
                            }
                        </div>
                    </div>
                </MCol>
                <MCol Cols="12" Lg="6" Class="cover-wrapper"
                      @ontouchstart="OnTouchstart"
                      @ontouchmove="OnTouchmove"
                      __internal_preventDefault_ontouchmove
                      @ontouchend="OnTouchend"
                      @ontouchcancel="OnTouchend">
                    <MImage Src="_content/MASA.OfficialWebsite.Shared/images/blazor_banner.png"
                            Contain
                            Width="@("100%")" Height="@("100%")"
                            MaxWidth="BannerMaxSize" MaxHeight="BannerMaxSize" />
                </MCol>
            </MRow>
        </MCarouselItem>
        <MCarouselItem>
            <MRow NoGutters Style="height: 100%">
                <MCol Cols="12" Lg="6" Class="intro-wrapper">
                    <div class="intro">
                        <div class="intro-title">企业级多端组件库</div>
                        <div class="intro-subtitle">基于Material Design , MAUI的最佳拍档</div>
                        <div class="intro-actions d-flex align-center">
                            <MButton Class="gradual-btn" Text Ripple="false">开始使用</MButton>
                            <MButton Text Ripple="false" Class="text-capitalize" Href="https://github.com/BlazorComponent/MASA.Blazor">
                                <MIcon Class="mr-2">mdi-github</MIcon>
                                Github
                            </MButton>
                            @if (!IsMobile)
                            {
                                <MButton Text Ripple="false" Style="text-decoration:underline;border-width: 0;height:36px;font-size:22px;line-height:36px; padding:0px 0px; height:auto;">
                                    即刻体验PRO
                                </MButton>
                                <MIcon  Class="ml-n8" Style="color:#1B2559">fas fa-caret-right</MIcon>
                            }
                        </div>
                    </div>
                </MCol>
                <MCol Cols="12" Lg="6" Class="cover-wrapper"
                      @ontouchstart="OnTouchstart"
                      @ontouchmove="OnTouchmove"
                      __internal_preventDefault_ontouchmove
                      @ontouchend="OnTouchend"
                      @ontouchcancel="OnTouchend">
                    <MImage Src="_content/MASA.OfficialWebsite.Shared/images/blazor_banner2.png"
                            Contain
                            Width="@("100%")" Height="@("100%")"
                            MaxWidth="BannerMaxSize" MaxHeight="BannerMaxSize" />
                </MCol>
            </MRow>
        </MCarouselItem>
        <MItemGroup Class="carousel-dot" @bind-Value="_carouselValue"
                    ActiveClass="primary--text"
                    Mandatory>
            <MItem>
                <MButton Icon Small="!IsMobile" XSmall="IsMobile"
                         Class="@($"regular3--text mr-n2 {context.ActiveClass}")"
                         OnClick="() => context.Toggle()">
                    <MIcon XSmall="IsMobile">
                        mdi-circle-medium
                    </MIcon>
                </MButton>
            </MItem>
            <MItem>
                <MButton Icon Small="!IsMobile" XSmall="IsMobile"
                         Class="@($"regular3--text mr-n2 {context.ActiveClass}")"
                         OnClick="() => context.Toggle()">
                    <MIcon XSmall="IsMobile">
                        mdi-circle-medium
                    </MIcon>
                </MButton>
            </MItem>
        </MItemGroup>
    </MCarousel>
    @if (IsMobile)
    {
        <div class="home-banner__slider-wrapper"
             style="background-image: url('_content/MASA.OfficialWebsite.Shared/images/mUnion.png'); background-size: 100% 100%">
            <div style="display: contents" @onclick="ScrollToNext">
                <MIcon Small Color="#E2E7F4">mdi-chevron-double-up</MIcon>
                <div class="more">WHY MASA BLAZOR</div>
            </div>
        </div>
    }
    else
    {
        <div class="home-banner__slider-wrapper desktop"
             style="background-image: url('_content/MASA.OfficialWebsite.Shared/images/Union.png'); background-size: 100% 100%; background-color:transparent;">
            <div class="core">WHY MASA BLAZOR</div>
        </div>
    }
</div>

<div class="home-content">
    <div class="home-content__item">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="true">WHY MASA BLAZOR</MenuableTitle>
            <div class="home-content__item-subtitle">为什么选择MASA Blazor？</div>
        </div>
        <MRow NoGutters="IsMobile" class="building-block__item-cards">
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon5.png"
                            IsMobile="IsMobile"
                            Title="组件丰富"
                            Description="Vuetify基础组件1:1还原，还有更多实用的预置组件">
                </BlazorCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon6.png"
                            IsMobile="IsMobile"
                            IsImageRight="true"
                            Title="简易上手"
                            Description="全面丰富的文档，配套免费的视频教程">
                </BlazorCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon7.png"
                            IsMobile="IsMobile"
                            Title="全职开源"
                            Description="全职团队维护，长期提供支持">
                </BlazorCard>
            </MCol>
        </MRow>
        <MRow NoGutters="IsMobile">
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon8.png"
                            IsMobile="IsMobile"
                            IsImageRight="true"
                            Title="现代UI设计"
                            Description="设计风格现代，UI体验优秀">
                </BlazorCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon9.png"
                            IsMobile="IsMobile"
                            Title=".NET 全栈"
                            Description="搭配MASA Framework实现开箱即用的.NET全栈开发">
                </BlazorCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <BlazorCard Image="_content/MASA.OfficialWebsite.Shared/images/icon10.png"
                            IsMobile="IsMobile"
                            IsImageRight="true"
                            Title="社区活跃"
                            Description="用户实时互动，加入我们构建最开放的开源社区">
                </BlazorCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item">
        <div class="home-content__item-header">
            <MenuableTitle Disabled="true">用户信赖</MenuableTitle>
        </div>
        <MRow NoGutters="IsMobile" class="building-block__item-cards">
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo03.png"
                           Height="80"
                           Width="246"
                           MobileWidth="116" />

            </MCol>
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo01.png"
                           Height="80"
                           Width="246"
                           MobileWidth="139" />
            </MCol>
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo05.png"
                           Height="80"
                           Width="246"
                           MobileWidth="130" />
            </MCol>
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo06.png"
                           Height="80"
                           Width="246"
                           MobileWidth="129" />
            </MCol>
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo04.png"
                           Height="80"
                           Width="246"
                           MobileWidth="40" />
            </MCol>
            <MCol Cols="6" Md="2">
                <ImageCard IsMobile="IsMobile"
                           Image="_content/MASA.OfficialWebsite.Shared/images/companylogo02.png"
                           Height="80"
                           Width="246"
                           MobileWidth="128" />
            </MCol>
        </MRow>
    </div>
</div>
