<MCard Class="why-card" Style="@Style" Flat>
    <div class="d-flex flex-column" style="width: 100%">
        <div class="d-flex align-center">
            <div>
                <MImage Src="@Image"
                        Height="48"
                        Width="48"
                        Contain />
            </div>
            <div class="why-card__title">@Title</div>
        </div>
        @if (IsMobile)
        {
            <hr style="border: 0.5px solid #E2E7F4; margin-top:32px;" />
        }
        <div>
            @if (WhyContents is not null && WhyContents.Count > 0)
            {
                @for (int i = 0; i < WhyContents.Count; i++)
                {
                    <div class="d-flex align-center why-card__ul">
                        <div>
                            <MImage Src="@Icon"
                            Height="20"
                            Width="20"
                            Contain />
                        </div>
                        <div class="why-card__li">@WhyContents[i]</div>
                    </div>
                }
            }
        </div>
    </div>
</MCard>

@code {
    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<string>? WhyContents { get; set; }

    [Parameter]
    public bool IsMobile { get; set; }

    public string? Style
    {
        get
        {
            return !IsMobile ? "height: 100%;" : "";
        }
    }
}
