@inherits LayoutComponentBase
@inject MasaBlazor MasaBlazor

<MApp Class="masa website-shared">

    @if (!IsMobile)
    {
        <div style="position: absolute;width: 100vw;height: 100vh;">
            <svg class="vector-197" width="811" height="489" viewBox="0 0 811 489" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.17" d="M169.501 19.2565C-212.467 219.758 154.518 435.832 286 477.257C439.359 525.574 674.775 413.608 776.57 298.243C878.365 182.878 733 139.256 609 139.256C305 139.256 320.001 -59.7435 169.501 19.2565Z" fill="#4318FF" />
            </svg>
            <svg class="vector-198" xmlns="http://www.w3.org/2000/svg" width="311" height="305" viewBox="0 0 311 305" fill="none">
                <path opacity="0.46" d="M86.9623 8.73412C-90.9182 57.6102 53.7769 97.8286 86.9623 172.986C125.669 260.648 161.598 328.962 219.778 296.992C315.867 244.191 314.765 136.66 308.678 118.692C302.591 100.724 247.311 -35.3247 86.9623 8.73412Z" fill="#05CD99" />
            </svg>
            <div class="rectangle-723"></div>
        </div>
    }

    <MAppBar App
             Height="@(IsMobile ? 48 : 100)"
             Class="appbar"
             Color="transparent"
             Flat
             Dense>
        <a href="/">
            <img src="https://cdn.masastack.com/stack/images/logo/MASAStack/logo-h-en.png"
                 height="@(IsMobile ? 30 : 36)"
                 alt="logo" />
        </a>

        <MSpacer />

        @if (IsMobile)
        {
            <MButton Icon OnClick="() => _drawer = true">
                <MIcon>mdi-menu</MIcon>
            </MButton>
        }
        else
        {
            <NavMenu Items="@ProductNavItems">
                <MButton Text @attributes="@context.Attrs">产品</MButton>
            </NavMenu>

            <NavMenu Items="@StudyNavItems">
                <MButton Text @attributes="@context.Attrs">学习</MButton>
            </NavMenu>

            <MButton Text Class="nav h8 emphasis2--text" Href="/aboutus">关于我们</MButton>
        }
    </MAppBar>

    @if (IsMobile)
    {
        <MNavigationDrawer @bind-Value="_drawer" Fixed Temporary Right Width="315">
            <MList Class="menu-list mt-1" Style="height: 100%; overflow-y: auto;" Elevation="0" Subheader TwoLine>
                @foreach (var item in AllNavItems)
                {
                    @if (item.IsSubheader)
                    {
                        <MSubheader Style="height: auto"
                        Class="subtitle3 emphasis--text">
                            @item.Subheader
                        </MSubheader>
                    }
                    else
                    {
                        <MListItem Href="@item.Href" Disabled="@item.Disabled">
                            @if (item.Image is not null)
                            {
                                <MListItemAvatar Tile Size="40" Class="mt-0 mb-0">
                                    <MImage Src="@item.Image" alt="@item.Title"
                            Height="30" Width="30" Contain />
                                </MListItemAvatar>
                            }
                            <MListItemContent>
                                <MListItemTitle Class="h8 regular--text">
                                    @if (item.Disabled)
                                    {
                                        <div style="color: #A3AED0;">@item.Title</div>
                                    }
                                    else
                                    {
                                        <div style="color: #485585;">@item.Title</div>
                                    }
                                </MListItemTitle>
                                <MListItemSubtitle Class="body2 regular3--text">@item.Subtitle</MListItemSubtitle>
                            </MListItemContent>
                            @if (item.Href is not null)
                            {
                                <MListItemAction>
                                    <MButton Icon Small>
                                        <MIcon Size="16">mdi-arrow-right</MIcon>
                                    </MButton>
                                </MListItemAction>
                            }
                        </MListItem>
                    }
                }
            </MList>
        </MNavigationDrawer>
    }

    <MMain>
        <CascadingValue Value="IsMobile" Name="@nameof(IsMobile)">
            @Body
        </CascadingValue>
    </MMain>

    <div style="position: relative">
        <img src="_content/MASA.OfficialWebsite.Shared/images/footer.png"
             class="mb-n2"
             style="width: 100vw"
             alt="footer" />
        <MFooter Color="#4318ff" Dark Padless>
            <MRow NoGutters Class="footer-content">
                @if (!IsMobile)
                {
                    <MCol Cols="12" Md="7">
                        <MCard Color="transparent" Flat Dark
                           Class="footer-content__item footer-content__map">
                            <MCardTitle>网站地图</MCardTitle>
                            <MCardText>
                                <MRow>
                                    <MCol Cols="3" class="map-item">
                                        <div class="map-item__title">
                                            <span class="prefix"></span> 产品中心
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/stack">MASA Stack</a>
                                            </li>
                                            <li>
                                                <a href="/framework">MASA Framework</a>
                                            </li>
                                            <li>
                                                <a href="/blazor">MASA Blazor</a>
                                            </li>
                                        </ul>
                                    </MCol>
                                    <MCol Cols="3" class="map-item">
                                        <div class="map-item__title">
                                            <span class="prefix"></span>解决方案
                                        </div>
                                        <ul>
                                            <li>
                                                <a>MASA Cloud</a>
                                            </li>
                                            <li>
                                                <a>MASA IoT</a>
                                            </li>
                                            <li>
                                                <a>传统.NET架构升级</a>
                                            </li>
                                        </ul>
                                    </MCol>
                                    <MCol Cols="3" class="map-item">
                                        <div class="map-item__title">
                                            <span class="prefix"></span>学习中心
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/learningpath">学习路径</a>
                                            </li>
                                            <li>
                                                <a href="https://blogs.masastack.com">博客站点</a>
                                            </li>
                                            <li>
                                                <a href="https://docs.masastack.com">文档站点</a>
                                            </li>
                                            <li>
                                                <a href="/activity">社区活动</a>
                                            </li>
                                        </ul>
                                    </MCol>
                                    <MCol Cols="3" class="map-item">
                                        <div class="map-item__title">
                                            <span class="prefix"></span>关于我们
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/aboutus">公司介绍</a>
                                            </li>
                                            <li>
                                                <a>联系我们</a>
                                            </li>
                                            <li>
                                                <a>商务合作</a>
                                            </li>
                                        </ul>
                                    </MCol>
                                </MRow>

                            </MCardText>
                        </MCard>
                    </MCol>
                }

            <MCol Cols="12" OffsetMd="2" Md="3">
                <MRow NoGutters>
                    <MCol Cols="12">
                        <MCard Color="transparent" Flat Dark Class="footer-content__item footer-content__focus">
                            <MCardTitle>关注我们</MCardTitle>
                            <MCardText>
                                <MMenu OpenOnClick="IsMobile" OpenOnHover="!IsMobile" CloseOnClick NudgeBottom="8" NudgeLeft="@NudgeLeft" OffsetY>
                                    <ActivatorContent>
                                        <MButton
                                            Width="@IconSize"
                                            Height="@IconSize"
                                            Outlined
                                            Icon
                                            Color="white"
                                            Class="mr-9"
                                            @attributes="@context.Attrs">
                                            <MIcon Large="!IsMobile">
                                                mdi-wechat
                                            </MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MImage Src="_content/MASA.OfficialWebsite.Shared/images/contact.png"
                                                Width="WeChatSize">
                                        </MImage>
                                    </ChildContent>
                                </MMenu>

                                <MMenu OpenOnClick="IsMobile" OpenOnHover="!IsMobile" CloseOnClick NudgeBottom="8" NudgeLeft="@NudgeLeft" OffsetY>
                                    <ActivatorContent>
                                        <MButton Width="@IconSize"
                                                 Height="@IconSize"
                                                 Outlined Icon
                                                 Color="white"
                                                 Class="mr-9"
                                                 @attributes="@context.Attrs">
                                            <MIcon Large="!IsMobile">
                                                mdi-qqchat
                                            </MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MImage Src="_content/MASA.OfficialWebsite.Shared/images/contact-qq.png"
                                                Width="WeChatSize">
                                        </MImage>
                                    </ChildContent>
                                </MMenu>

                                    <MButton Width="@IconSize"
                                             Height="@IconSize"
                                             Outlined
                                             Icon
                                             Color="white"
                                             Href="https://space.bilibili.com/1961811453"
                                             Target="_blank">
                                        <img src="_content/MASA.OfficialWebsite.Shared/images/bilibili.png"
                                             alt="bilibili"
                                             width="@(IsMobile ? 24 : 36)" />
                                    </MButton>
                                </MCardText>
                            </MCard>
                        </MCol>
                        <MCol Cols="12">
                            <MCard Color="transparent" Flat Dark Class="footer-content__item">
                                <MCardTitle>商务合作</MCardTitle>
                                <MCardText>
                                    marketing@masastack.com
                                </MCardText>
                            </MCard>
                        </MCol>
                    </MRow>
                </MCol>
                <MCol Cols="12" Class="footer-content__logo">
                    @if (!IsMobile)
                    {
                        <MImage Src="_content/MASA.OfficialWebsite.Shared/images/logo-h-cn__white.png"
                            Width="180" Contain />
                    }

                    <div>温州数闪科技有限公司 - 浙ICP备2021013592号-1</div>
                </MCol>
            </MRow>
        </MFooter>
    </div>
</MApp>
