@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject MasaBlazor MasaBlazor

<MApp Class="masa website-shared">

<MAppBar App
         Height="@(IsMobile ? 48 : 100)"
         Class="appbar"
         Color="transparent"
         Flat
         Dense>
    <div class="appbar-content">
        <a href="/">
            <img src="https://cdn.masastack.com/stack/images/logo/MASAStack/logo-h-en.png"
                 height="@(IsMobile ? 24 : 36)"
                 alt="logo" />
        </a>

        <MSpacer />

        @if (IsMobile)
        {
            <NavMenu Items="@AllNavItems">
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-menu</MIcon>
                </MButton>
            </NavMenu>
        }
        else
        {
            <NavMenu Items="@ProductNavItems">
                <MButton Text @attributes="@context.Attrs">产品</MButton>
            </NavMenu>

            <NavMenu Items="@StudyNavItems">
                <MButton Text @attributes="@context.Attrs">学习</MButton>
            </NavMenu>

            <MButton Text Class="nav h8 emphasis2--text" Href="">关于我们</MButton>
        }
    </div>
</MAppBar>

<MMain>
    <CascadingValue Value="IsMobile" Name="@nameof(IsMobile)">
        @Body
    </CascadingValue>
</MMain>

<div class="masa-footer">
    <img src="_content/MASA.OfficialWebsite.Shared/images/footer.png"
         class="mb-n2"
         style="width: 100vw"
         alt="footer" />
    <MFooter Color="#4318ff" Dark Padless>
        <MRow NoGutters Class="footer-content">
            @if (!IsMobile)
            {
                <MCol Cols="12" Md="7">
                    <MCard Color="transparent" Flat Dark
                           Class="footer-content__item footer-content__map">
                        <MCardTitle>网站地图</MCardTitle>
                        <MCardText>
                            <MRow>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span> 产品中心
                                    </div>
                                    <ul>
                                        <li>
                                            <a>MASA Stack</a>
                                        </li>
                                        <li>
                                            <a>MASA Framework</a>
                                        </li>
                                        <li>
                                            <a>MASA Blazor</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>解决方案
                                    </div>
                                    <ul>
                                        <li>
                                            <a>MASA Cloud</a>
                                        </li>
                                        <li>
                                            <a>MASA IoT</a>
                                        </li>
                                        <li>
                                            <a>传统.NET架构升级</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>学习中心
                                    </div>
                                    <ul>
                                        <li>
                                            <a>学习中心</a>
                                        </li>
                                        <li>
                                            <a>学习路径</a>
                                        </li>
                                        <li>
                                            <a>博客站点</a>
                                        </li>
                                        <li>
                                            <a>文档站点</a>
                                        </li>
                                        <li>
                                            <a>社区活动</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>关于我们
                                    </div>
                                    <ul>
                                        <li>
                                            <a>公司介绍</a>
                                        </li>
                                        <li>
                                            <a>联系我们</a>
                                        </li>
                                        <li>
                                            <a>商务合作</a>
                                        </li>
                                    </ul>
                                </MCol>
                            </MRow>

                        </MCardText>
                    </MCard>
                </MCol>
            }

            <MCol Cols="12" OffsetMd="2" Md="3">
                <MRow NoGutters>
                    <MCol Cols="12">
                        <MCard Color="transparent" Flat Dark Class="footer-content__item footer-content__focus">
                            <MCardTitle>关注我们</MCardTitle>
                            <MCardText>
                                <MMenu OpenOnClick NudgeLeft="68" Left>
                                    <ActivatorContent>
                                        <MButton
                                            Width="@IconSize"
                                            Height="@IconSize"
                                            Outlined
                                            Icon
                                            Color="white"
                                            Class="mr-9"
                                            @attributes="@context.Attrs">
                                            <MIcon Large="!IsMobile">
                                                mdi-wechat
                                            </MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MImage Src="_content/MASA.OfficialWebsite.Shared/images/wechat.png"
                                                Width="200" Height="200" Contain>
                                        </MImage>
                                    </ChildContent>
                                </MMenu>

                                <MButton Width="@IconSize"
                                         Height="@IconSize"
                                         Outlined Icon
                                         Color="white"
                                         Class="mr-9">
                                    <MIcon Large="!IsMobile">
                                        mdi-qqchat
                                    </MIcon>
                                </MButton>

                                <MButton Width="@IconSize"
                                         Height="@IconSize"
                                         Outlined
                                         Icon
                                         Color="white"
                                         Href="https://space.bilibili.com/1961811453"
                                         Target="_blank">
                                    <img src="_content/MASA.OfficialWebsite.Shared/images/bilibili.png"
                                         alt="bilibili"
                                         width="@(IsMobile ? 24 : 36)" />
                                </MButton>
                            </MCardText>
                        </MCard>
                    </MCol>
                    <MCol Cols="12">
                        <MCard Color="transparent" Flat Dark Class="footer-content__item">
                            <MCardTitle>商务合作</MCardTitle>
                            <MCardText>
                                marketing@masastack.com
                            </MCardText>
                        </MCard>
                    </MCol>
                </MRow>
            </MCol>
            <MCol Cols="12" Class="footer-content__logo">
                @if (!IsMobile)
                {
                    <MImage Src="_content/MASA.OfficialWebsite.Shared/images/logo-h-cn__white.png"
                            Width="180" Contain />
                }

                <div>温州数闪科技有限公司 - 浙ICP备2021013592号-1</div>
            </MCol>
        </MRow>
    </MFooter>
</div>
</MApp>
